# Ignore node_modules
node_modules

# Ignore build output
dist

# Ignore Git directory
.git

# Ignore .dockerignore itself
.dockerignore

# Ignore Dockerfile
Dockerfile

# Ignore environment files
.env

# Ignore logs
logs

# Ignore temporary files
tmp